body{
    margin: 0;
    background-color: #c4c2c2;
}
menu {
    height: 40%;
    background-color:rgb(238, 54, 54);
    box-shadow: 0 1px 5px palevioletred;
    display: flex;
    margin-top: 0;
    justify-content: space-around;
    align-items: center;
    font-family: cursive;
}
menu h1{
    color: white;
}
.contenedor{
    display: flex;
    justify-content: center;
    
    margin-top: 20px;
}

.casilla img{
    height: 200px;
    width: 210px;
}
.casilla h3{
    padding-left: 10px;
    font-family: cursive;
    color: rgb(238, 54, 54);
}
.casilla{
    height: 500px;
    width: 210px;
    background-color: rgb(230, 230, 230);
    margin-right: 10px;
    text-align: start;
}

.casilla p{
    padding: 10px;
}